spring:
  datasource:
    url: jdbc:h2:file:./data/ShoppingMomadnBaby
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyenthituongvi2023@gmail.com
    password: 'alxe raor rzkl ijrx'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true